.under-construction {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.under-construction img {
    width: 50px;
}

.rules-container {
    padding: 0 2rem;
}

.rules-container h1 {
    font-size: 3rem;
}