.team-page {
    display: flex;
    flex-direction: column;
}

.team-page-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px 100px 10px 50px;
    border: 5px solid green;
}

.team-page-header-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 60%;
}

.team-page-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 50px;
    border: 5px solid red;
    gap: 25px;
}

.team-page-content-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid purple;
    width: 75%;
}