.header {
  background-color: var(--color-red);
  width: 100%;
  height: 25vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 5rem;
  padding-right: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: all 0.5s ease-in-out;
}

/* Nav Toggle Button */
.nav-toggle-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 3rem;
  transition: all 0.5s ease-in-out;
}

.nav-toggle-btn-home {
  align-self: flex-start;
  margin-top: 0;
}

.nav-toggle-btn-other {
  align-self: center;
}

.hamburger-icon {
  padding: 0;
  width: 5rem;
  height: auto;
  filter: invert(1);
}

/* Header Logo */
.header-home {
  clip-path: polygon(0 0, 100% 0, 100% 50%, 0 100%);
}

.header-other {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  height: 15vh;
}

.header a {

  height: 80%;
  width: auto;
}

.header-logo {
  height: 100%;
  width: auto;
  transition: all 0.5s ease-in-out;
}

.header-logo-home {
  transform: scale(1);
}

.header-logo-other {
  transform: scale(1.1);
}

