.vertical-nav {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 15rem;
  background-color: var(--color-green);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 1rem;
}

.nav-links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 1rem;
}

.nav-link {
  text-decoration: none;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.25rem;
}

.nav-link img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: all 0.3s ease;
}

@keyframes radialShake {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(2deg);
  }
  50% {
    transform: rotate(-1deg);
  }
  75% {
    transform: rotate(1.5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.nav-link:hover img {
  animation: radialShake 0.75s ease-in-out;
}
