.team-hero-btn-img {
    border: none;
    background: none;
    padding: 1rem;
    cursor: pointer;
    transition: transform 0.2s ease;
    
    /* Set button dimensions */
    width: 30%;
    height: auto;
}

.team-hero-btn-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.team-hero-btn-img:hover {
    transform: scale(1.05);
}

.team-hero-btn-img:active {
    transform: scale(0.95);
}

